@charset "UTF-8";
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* This stylesheet generated by Transfonter (https://transfonter.org) on June 21, 2017 9:51 AM */
@font-face {
  font-family: 'ProximaNovaRg';
  src: url("../../fonts/ProximaNova-Regular.eot");
  src: local("../../fonts/Proxima Nova Regular"), local("fonts/ProximaNova-Regular"), url("../../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Regular.woff") format("woff"), url("../../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaSem';
  src: url("../../fonts/ProximaNova-Semibold.eot");
  src: local("../../fonts/Proxima Nova Semibold"), local("fonts/ProximaNova-Semibold"), url("../../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Semibold.woff") format("woff"), url("../../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaLt';
  src: url("../../fonts/ProximaNova-Light.eot");
  src: local("../../fonts/Proxima Nova Light"), local("fonts/ProximaNova-Light"), url("../../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Light.woff") format("woff"), url("../../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 36px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

html {
  font-size: 10px; }
  @media screen and (max-width: 840px) {
    html {
      font-size: 8px; } }

body {
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'ProximaNovaRg'; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.box {
  border: 2px solid red; }

.header-contact-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem; }

.header-contact__item {
  font-size: 2.5rem;
  padding: 1rem;
  color: #393939; }
  .header-contact__item:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #1275b9; }

.header-nav {
  text-align: right; }

.header-nav__item {
  display: inline-block; }

.header-nav__item-link {
  color: #393939;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1rem; }
  .header-nav__item-link:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #1275b9; }
  @media screen and (max-width: 580px) {
    .header-nav__item-link {
      padding: 0.5rem; } }

.header-main {
  background-color: #a49a94;
  background-image: url(images/header-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 38rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header-main__foto {
  width: 15rem;
  height: 15rem;
  margin: 2rem 0; }

.header-main__h2 {
  font-size: 3rem;
  color: #fff;
  margin: 0; }

.header-main__h1 {
  font-size: 4rem;
  color: #fff;
  margin: 1rem 0 2rem 0; }

.header-main__button {
  font-size: 2rem;
  width: 23rem;
  height: 5rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  background-color: #1275b9;
  color: #f7f7f7;
  text-align: center;
  line-height: 5rem; }
  .header-main__button:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #0d588b; }

.service {
  margin-top: 7rem; }
  @media screen and (max-width: 580px) {
    .service {
      display: none; } }

.service-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center; }

.service-row__fa {
  font-size: 3rem;
  line-height: 7rem !important;
  background-color: #1275b9;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 7rem;
  height: 7rem;
  color: #fff; }

.service-row__title {
  font-size: 1.8rem;
  font-family: 'ProximaNovaSem';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-flex-basis: 33%;
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%;
  padding: 2rem; }

.service-row__description {
  color: #555;
  font-size: 1.4rem;
  font-family: 'ProximaNovaLt';
  -webkit-flex-basis: 33%;
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%;
  padding: 0 2rem; }

.works {
  margin-top: 10rem; }

.works__h2 {
  font-size: 3rem;
  text-align: center; }

.works-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.works__item {
  position: relative; }
  .works__item:hover .works__item-hover {
    display: block; }

.works__item-img {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  max-width: 32rem;
  max-height: 32rem;
  margin: 2rem;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.works__item-hover {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30rem;
  height: 30rem;
  background-color: #000;
  color: #fff;
  opacity: 0.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2rem; }

.works__item-hover-span {
  position: absolute;
  width: 30rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center; }

.comments {
  margin-top: 10rem; }

.comments__h2 {
  font-size: 3rem;
  text-align: center; }

.comments-slider {
  max-width: 73rem;
  margin: auto; }
  @media screen and (max-width: 700px) {
    .comments-slider {
      max-width: 50rem; } }
  @media screen and (max-width: 500px) {
    .comments-slider {
      max-width: 30rem; } }

.comments-slide {
  position: relative; }

.comments-slide__img {
  width: 100%;
  margin: auto; }

.comments-fa__next,
.comments-fa__prev {
  font-size: 5rem;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  bottom: 45%;
  right: -5rem;
  opacity: 0.75; }

.comments-fa__prev {
  left: -5rem; }

.comments-slide__descr {
  position: absolute;
  bottom: 1rem;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (max-width: 500px) {
    .comments-slide__descr {
      padding: 0.5rem; } }

.conacts {
  margin-top: 10rem; }

.conacts__h2 {
  font-size: 3rem;
  text-align: center; }

.conacts-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  @media screen and (max-width: 580px) {
    .conacts-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.conacts-form {
  width: 45%; }
  @media screen and (max-width: 580px) {
    .conacts-form {
      width: 90%; } }

.conacts-form__descr {
  font-size: 2rem; }
  @media screen and (max-width: 580px) {
    .conacts-form__descr {
      text-align: center; } }

.conacts-form__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.conacts-form__name,
.conacts-form__email,
.conacts-form__message,
.conacts-form__button {
  margin-top: 2rem;
  padding: 0 1rem;
  width: 80%;
  height: 5rem;
  background-color: #1275b9;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border-color: #1275b9;
  color: #fff;
  font-size: 2rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }
  .conacts-form__name::-webkit-input-placeholder,
  .conacts-form__email::-webkit-input-placeholder,
  .conacts-form__message::-webkit-input-placeholder,
  .conacts-form__button::-webkit-input-placeholder {
    color: #eee; }
  .conacts-form__name::-moz-placeholder,
  .conacts-form__email::-moz-placeholder,
  .conacts-form__message::-moz-placeholder,
  .conacts-form__button::-moz-placeholder {
    color: #eee; }
  .conacts-form__name:-ms-input-placeholder,
  .conacts-form__email:-ms-input-placeholder,
  .conacts-form__message:-ms-input-placeholder,
  .conacts-form__button:-ms-input-placeholder {
    color: #eee; }
  .conacts-form__name::-ms-input-placeholder,
  .conacts-form__email::-ms-input-placeholder,
  .conacts-form__message::-ms-input-placeholder,
  .conacts-form__button::-ms-input-placeholder {
    color: #eee; }
  .conacts-form__name::placeholder,
  .conacts-form__email::placeholder,
  .conacts-form__message::placeholder,
  .conacts-form__button::placeholder {
    color: #eee; }

.conacts-form__message {
  height: 10rem;
  padding-top: 1rem; }

.conacts-form__button {
  width: 20rem; }
  .conacts-form__button:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #0d588b; }
  @media screen and (max-width: 580px) {
    .conacts-form__button {
      margin-bottom: 5rem; } }

@media screen and (max-width: 580px) {
  .conacts-social {
    width: 90%; } }

.conacts-social__ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.contacts-social__item {
  font-size: 2.5rem;
  padding: 1rem;
  color: #393939; }
  .contacts-social__item:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #1275b9; }

.footer {
  margin-top: 5rem;
  background-color: #1e1e1e;
  height: 5rem;
  color: #a5a5a5;
  font-size: 1.5rem;
  text-align: center;
  line-height: 5rem; }

.top-button {
  position: fixed;
  bottom: 4rem;
  /* отступ кнопки от нижнего края страницы*/
  right: 2rem;
  cursor: pointer;
  display: none;
  color: #333;
  font-size: 5rem; }
  @media screen and (max-width: 580px) {
    .top-button {
      right: 1rem;
      font-size: 4rem; } }

.inner-page-header-main {
  display: block;
  height: 7rem; }

.inner-page-header-main-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.inner-page-header-main__h1 {
  margin: 0;
  padding-left: 1rem;
  line-height: 7rem; }

.inner-page-content {
  margin-top: 5rem;
  padding-left: 1rem;
  min-height: -webkit-calc(100vh - 32rem);
  min-height: calc(100vh - 32rem); }

.inner-page-content__h2 {
  font-size: 2.4rem;
  color: #1275b9;
  margin: 0; }

.inner-page-content__p {
  font-size: 1.8rem;
  margin-bottom: 5rem; }

.portfolio-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 640px) {
    .portfolio-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.portfolio-nav {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  padding-right: 1rem;
  border-right: 3px solid #1275b9; }
  @media screen and (max-width: 640px) {
    .portfolio-nav {
      border-right: none;
      text-align: center; } }

.portfolio-nav__item {
  margin: 2rem 0; }
  @media screen and (max-width: 640px) {
    .portfolio-nav__item {
      margin-top: 0; } }

.portfolio-nav__item-link {
  font-size: 2rem;
  color: #393939; }
  .portfolio-nav__item-link:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #1275b9; }
  .portfolio-nav__item-link::before {
    content: "\00BB \00A0";
    font-size: 2.5rem; }

.portfolio-content {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  padding-left: 1rem; }

.portfolio-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.portfolio-content__item {
  position: relative; }
  .portfolio-content__item:hover .portfolio-content__item-hover {
    display: block; }

.portfolio-content__item-img {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  max-width: 25rem;
  max-height: 25rem;
  margin: 1rem;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.portfolio-content__item-hover {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 21rem;
  height: 21rem;
  background-color: #000;
  color: #fff;
  opacity: 0.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2rem; }

.portfolio-content__item-hover-span {
  position: absolute;
  width: 21rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center; }

.portfolio-item {
  margin-top: 3rem; }

.category-portfolio-item {
  padding-left: 1rem;
  font-size: 3rem;
  color: #393939; }
  .category-portfolio-item:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #1275b9; }

.portfolio-item-name {
  display: inline-block;
  margin-left: 1rem;
  font-size: 3rem;
  color: #393939; }
  .portfolio-item-name::before {
    content: "\00BB \00A0";
    font-size: 3.5rem; }

.portfolio-item-wrap {
  margin-top: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  overflow: hidden; }
  @media screen and (max-width: 770px) {
    .portfolio-item-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.portfolio-item__img-wrap {
  width: 45rem;
  height: 60rem; }
  .portfolio-item__img-wrap:hover {
    height: auto; }
  @media screen and (max-width: 770px) {
    .portfolio-item__img-wrap {
      width: auto;
      height: auto; } }

.portfolio-item__img {
  max-width: 45rem;
  max-height: 160.6rem; }
  @media screen and (max-width: 770px) {
    .portfolio-item__img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: auto; } }

.portfolio-item-descr {
  padding-left: 3rem;
  -webkit-flex-basis: -webkit-calc(100% - 45rem);
      -ms-flex-preferred-size: calc(100% - 45rem);
          flex-basis: calc(100% - 45rem); }
  @media screen and (max-width: 770px) {
    .portfolio-item-descr {
      padding-left: 1.5rem; } }

.portfolio-item-descr__h3 {
  font-size: 2.5rem;
  color: #393939;
  margin-bottom: 1rem; }

.portfolio-item-descr__p {
  font-size: 2rem;
  color: #393939;
  margin: 0; }

.portfolio-item-descr__button-wrap {
  margin: 5rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.portfolio-item__button {
  font-size: 2rem;
  width: 23rem;
  height: 5rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  background-color: #1275b9;
  color: #f7f7f7;
  text-align: center;
  line-height: 5rem; }
  .portfolio-item__button:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #0d588b; }
  @media (min-width: 840px) and (max-width: 970px) {
    .portfolio-item__button {
      width: 17rem;
      font-size: 1.8rem; } }
  @media screen and (max-width: 430px) {
    .portfolio-item__button {
      width: 18rem; } }

.portfolio-category-wrap {
  margin-top: 5rem; }

/*



@import "import/portfolio-categoty.scss";
*/
